# Avaliando
Explorando os arquivoces `all_alpha_08.csv` e `all_alpha_18.csv`

In [1]:
# Imports e carregamento de dados
import pandas as pd

df_08 = pd.read_csv('all-alpha-08.csv')
df_18 = pd.read_csv('all-alpha-18.csv')

In [2]:
# NÃºmero de colunas e amostras em cada conjunto
print('df_08: {}, df_18: {}'.format(df_08.shape, df_18.shape))

df_08: (2404, 18), df_18: (1611, 18)

In [3]:
print('df_08: {}, df_18: {}'.format(sum(df_08.duplicated()), sum(df_18.duplicated())))

df_08: 25, df_18: 0

In [6]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [7]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.6+ KB

In [16]:
2404 - df_08.count()

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

In [19]:
1611 - df_18.count()

Model                   0
Displ                   2
Cyl                     2
Trans                   0
Drive                   0
Fuel                    0
Cert Region             0
Stnd                    0
Stnd Description        0
Underhood ID            0
Veh Class               0
Air Pollution Score     0
City MPG                0
Hwy MPG                 0
Cmb MPG                 0
Greenhouse Gas Score    0
SmartWay                0
Comb CO2                0
dtype: int64

In [21]:
df_08.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

In [23]:
df_18.nunique()

Model                   367
Displ                    36
Cyl                       7
Trans                    26
Drive                     2
Fuel                      5
Cert Region               2
Stnd                     19
Stnd Description         19
Underhood ID            230
Veh Class                 9
Air Pollution Score       6
City MPG                 58
Hwy MPG                  62
Cmb MPG                  57
Greenhouse Gas Score     10
SmartWay                  3
Comb CO2                299
dtype: int64

In [44]:
df_08.groupby('Fuel').count()

,Model,Displ,Cyl,Trans,Drive,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
Fuel,,,,,,,,,,,,,,,,,
CNG,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Gasoline,2318,2318,2129,2129,2231,2318,2318,2318,2318,2318,2129,2129,2129,2129,2129,2129,2318
diesel,11,11,7,7,11,11,11,11,11,11,7,7,7,7,7,7,11
ethanol,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ethanol/gas,72,72,66,66,66,72,72,72,72,72,66,66,66,66,66,66,72

In [45]:
df_18.groupby('Fuel').count()

,Model,Displ,Cyl,Trans,Drive,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
Fuel,,,,,,,,,,,,,,,,,
Diesel,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38
Electricity,2,0,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Ethanol/Gas,55,55,55,55,55,55,55,55,55,55,55,55,55,55,55,55,55
Gasoline,1492,1492,1492,1492,1492,1492,1492,1492,1492,1492,1492,1492,1492,1492,1492,1492,1492
Gasoline/Electricity,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24