# Avaliando
explorando os arquivos `winequality-red.csv` e `winequality-white.csv`

In [9]:
# Importando e coletando dados
import pandas as pd

df_wine_red = pd.read_csv('winequality-red.csv', sep=';')
df_wine_white = pd.read_csv('winequality-white.csv', sep=';')

In [10]:
df_wine_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [12]:
# Número de amostras em cada conjunto de dados
# e quais possuem valores faltantes.
df_wine_red.info()
df_wine_white.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [14]:
# Quantas colunas existem em cada conjunto de dados?
df_wine_red.shape

(1599, 12)

In [15]:
df_wine_white.shape

(4898, 12)

In [17]:
# Quantas linhas duplicadas existem no conjunto de dados sobre vinho branco?
sum(df_wine_white.duplicated())

937

In [18]:
# Quantos valores únicos de qualidade existem no conjunto de dados sobre vinho tindo?
df_wine_red['quality'].nunique()

6

In [20]:
# Quantos valores únicos de qualidade existem no conjunto de dados sobre vinho branco?
df_wine_white['quality'].nunique()

7

In [ ]:
# Qual é a densidade média