# Tirando conclusões usando groupby

In [8]:
# Imports e carregando o dataset
import pandas as pd

df = pd.read_csv('winequality_edited.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [9]:
# Qualidade média de cada tipo de vinho (tinto e branco)

df.groupby('color', as_index=False)['quality'].mean()

   color   quality
0    red  5.636023
1  white  5.877909

In [10]:
# Nível de acidez que recebe a maior avaliação média

df.describe()['pH']
bin_edges = [2.72, 3.11, 3.21, 3.32, 4.01]

In [11]:
# Rótulos para os quatro níveis de acidez
bin_names = ['Alto', 'Moderado', 'Médio', 'Baixo']

In [12]:
# Cria a coluna acidity_levels
df['acidity_levels'] = pd.cut(df['pH'], bin_edges, labels=bin_names)

# Verificação
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color,acidity_levels
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,Baixo
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,Moderado
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,Médio
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,Moderado
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,Baixo

In [13]:
# Qualidade média de cada nível de acidez com 'groupby'

df.groupby('acidity_levels', as_index=False)['quality'].mean()

  acidity_levels   quality
0           Alto  5.783343
1       Moderado  5.784540
2          Médio  5.850832
3          Baixo  5.859593

In [14]:
# Salvando alterações
df.to_csv('winequality_edited.csv', index=False)